<section>
    <main>
     <h1>Faire une demande de devis</h1>
        <p>
           Vous voulez faire un devis ? Vous êtes au bon endroit.
            Remplissez ce formulaire et nous nous occuperons du reste !
        </p>     
        <form action="thanks" method= "POST">
        <div class="block">
            <div class="event">
                <select name="evenement" class="form-select" aria-label="Default select example" required="required">
                    <option selected name="Evènement">Evènement</option>
                    <option value="Mariage">Mariage</option>
                    <option value="Anniversaire">Anniversaire</option>
                    <option value="Décès">Décès</option>
                    <option value="Naissance">Naissance</option>
                    <option value="Autre">Autre</option>
                </select>
                <select name="inviter" class="form-select" aria-label="Default select example" required="required">
                    <option selected name="Nombre d'invité">Nombre d'invité</option>
                    <option value="0 à 20">0 à 20</option>
                    <option value="20 à 100">20 à 100</option>
                    <option value="100 à 300">100 à 300</option>
                    <option value="300ou+">300 ou +</option>
                </select>
                <select name="theme" class="form-select_b" aria-label="Default select example" required="required">
                <option selected>Thème</option>
                <option value="chaleureux">Chaleureux</option>
                <option value="pure">Pur</option>
                <option value="jovial">Jovial</option>
            </select>
            </div>
            
            <div class="select">
                <label for="prenom"></label>
		        <input id="prenom" name="prenom" placeholder="Prenom" required="required"></input>
                <label for="nom"></label>
		        <input id="nom" name="name" placeholder="Nom" required="required"></input>
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="E-mail :">
                <label name="adresse" class="form-label" for="typeText" ></label>
                <input name="adresse" type="text" id="typeText"  placeholder="Adresse :" required="required"/>
                <input name="date" class="form-input" type="date" required="required" placeholder="Date :"></input>
                
            
            </div>
            <input name="budget" class="form-input" aria-label="Default select example" type="number" required="required" placeholder=" Saisir le budget :"></input>
            <label for="text" >Message:</label>
            <textarea name="text" class="form-label" for="text" type="text" required="required"></textarea>
            <button type="submit" class="btn btn-success btn-rounded">Envoyer</button>
        </form>  
    </main>
</section>

