{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/devis.css">
{% endblock %}
{% block content %}
<body>
    <main>
     <h1>Faire une demande de devis</h1>
            <p>Vous voulez faire un devis ?! Vous êtes au bonne endroit remplis  ce formulair
            et nous nous occuperon du reste !
            </p>
        <img class="image" src="/../public/assets/img/cropped-5120-2880-108597.jpg" alt="">    
        <div class="block">
            <div class="event">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Evènement</option>
                    <option value="1">Mariage</option>
                    <option value="2">Anniversaire</option>
                    <option value="3">Décès</option>
                    <option value="4">Naissance</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Nombre d'invité</option>
                    <option value="1">0 - 20</option>
                    <option value="2">20 - 100</option>
                    <option value="3">100 - 300</option>
                    <option value="4">300 ou +</option>
                </select>
            </div>
            <select class="form-select_b" aria-label="Default select example">
                <option selected>Thème</option>
                <option value="1">Chaleureux</option>
                <option value="2">Pure</option>
                <option value="3">Jovial</option>
            </select>
            <div class="select">
                <input class="form-input" type="date"> Date :</input>
                <input class="form-input" aria-label="Default select example" type="number"> Saisir le budget :</input>
            </div>
            <select class="form-select_b" aria-label="Default select example">
                <option selected>Demande particulière :</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select_b" aria-label="Default select example">
                <option selected>Lieu de l’évènement</option>
                <option value="1">Exterieur</option>
                <option value="2">Interieur</option>
            </select> 
        </div>
        
    </main>
</body>


{% endblock  %}
