{% extends 'layout.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/homepage.css">


{% endblock %}
{% block content %}
          <!-- Full Page Intro -->
          <div class="view" style="background-image: url('https://images.pexels.com/photos/4270172/pexels-photo-4270172.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="sebus rgba-black-light align-items-center home-flex">
              <!-- Content --> 
              
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                 
                  <div class="col-md-12 mb-4 white-text text-center">
                  
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>Strasbouq</strong></h1>
                    <h2 class="text- mb-4 white-text">Votre fleuriste au Neudorf</h2>
                    <a class="btn btn-outline-white mx-4" href="/nosBouquets">Nos bouquets</a>
                    <a class="btn btn-outline-white mx-4" href="#">Composez votre bouquet</a>
                    </div>
                  </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
            <div class="row text-center">
              <section class="mt-5 mx-4">
              <h3>Nos bouquets du moment</h3>
              {% for image in images %}
              {% if  image.isTrending > 0 %}
						    <div class="col-lg-4 col-md-12 mb-4">
							    <div class="card">
								    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
									    <img src="{{image.filename}}" class="w-100"/>
									    <a href="">
										    <div class="hover-overlay">
											    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										    </div>
									    </a>
								  </div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-3 cardTitle">{{image.name}}</h5>
									</a>
									<h6 class="mb-3 cardPrice">{{image.price}}€
										<a href="?add_to_cart={{ image.Products_idProducts }}" class="cartCard">
											<i class="fas fa-shopping-cart"></i>
										</a>
									</h6>
								</div>
							</div>
						</div>
            {% endif %}
					{% endfor %}
          </div>
              </section>
{% endblock %}

