{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/historique.css">
{% endblock %}
{% block content %}
<body>
    <main>
    <h1>RECAPITULATIF</h1>
        <div class="tableau">
            <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
            </div>

            <div class="row">
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            </div>

            <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            </div>

            <div class="row">
            <div class="col-lg-4">.col-lg-4</div>
            <div class="col-lg-4">.col-lg-4</div>
            <div class="col-lg-4">.col-lg-4</div>
            </div>

            <div class="row">
            <div class="col-xl-4">.col-xl-4</div>
            <div class="col-xl-4">.col-xl-4</div>
            <div class="col-xl-4">.col-xl-4</div>
            </div>
        </div>
    </main>
</body>
{% endblock %}