{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit product {{ product.name }}</h1>
    {% include 'product/_form.html.twig' %}
    <a href="/products/show?id={{ product.id }}">Back</a>
{% endblock %}