{% extends 'layout.html.twig' %}

{% block navbar %}
{% include '/component/_navbarAdmin.html.twig' %}
{% endblock navbar %}

{% block content %}
    <h1>Modifier {{ product.name }}</h1>

        {% if message is not empty %}
                <div
                    class="border p-5">
                    {% for line in message %}
                    <div class="alert bg-warning p-2 text-white w-25" role="alert" data-mdb-color="primary">
                        {{ line }}
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
            
   
    <div class="d-flex justify-content-around"> 
        <div class="d-flex justify-content-around flex-column align-items-center">
            
                <img
                    src="\{{product.filename}}"
                    alt=""
                    style="width: auto; height: 200px"
                ;>
                <p>Image actuelle du produit<p>
        </div>
    </div>
    {% include 'product/_form.html.twig' %}

    <a href="/products/show?id={{ product.Products_idProducts}}">Back</a>
{% endblock %}

