{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit {{ images.name }}</h1>
    {% include 'product/_form.html.twig' %}
    <a href="/products/show?id={{ images.Products_idProducts }}">Back</a>
{% endblock %}