{% extends 'layout.html.twig' %}

{% block navbar %}
{% include '/component/_navbarAdmin.html.twig' %}
{% endblock navbar %}

{% block content %}
    <h1>Edit product {{ product.name }}</h1>
    {% include 'product/_form.html.twig' %}
    <a href="/products/show?id={{ product.id }}">Back</a>
{% endblock %}

{% block footer %}{% endblock footer %}