{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li><a href="/products/show?id={{ product.id }}">{{ product.id }}. {{ product.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/products/add">Ajouter</a>
{% endblock %}