{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/productshow.css">
{% endblock %}

{% block content %}
	{% include '/Product/_showSheet.html.twig' %}
	<a href="/?add_to_cart={{product[0].Products_idProducts }}" class="btn btn-primary btn-lg">
	Ajouter au panier
	</a>
	</div>
	</section>
{% endblock %}
