* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardTitle {
    font-size: 2rem;
    margin-top: 5%;
}

.cartCard {
    margin-left: 50%;
}

.cardPrice {
    margin-top: 20%;
    font-size: 1.5rem;
}

.filterBox {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.filter {
    text-align: center;
}
