html,
body,
header,
.view {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardTitle {
  font-size: 1,5rem;
  margin-top: 5%;
}

.cardImage {
  max-height: 250px;
  object-fit: cover;
}

.cartCard {
  margin-left: 50%;
}

.cardPrice {
  margin-top: 20%;
  font-size: 1.5rem;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}


.home-flex{
    display: flex;;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
  letter-spacing: 8px;
  color: rgb(248, 247, 246);   
  font-size: 80px;
}

h2 {
  letter-spacing: 3px;
  color:rgb(255, 255, 255);
  font-size:30px;
  opacity: 90%;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

a {
    backdrop-filter: blur(10px);
}
.sebus{
  height: 100%;
}

