<nav>
	<div class="nav-container">
		<div id="nav-burger">
			<div class="dropdown">
				<button onclick="dropdownNav()" class="dropbtn">
					<i class="fas fa-bars"></i>
				</button>
				<div id="myDropdown" class="dropdown-content">
					<a href="/">Accueil</a>
					<a href="/nosBouquets">Nos bouquets</a>
					<a href="/flower">Créez votre bouquet</a>
					<a href="/devis">Demander un devis</a>
					<a href="/contact">Nous contacter</a>
					<a href="/connecter">Mon compte</a>
				</div>
			</div>
		</div>

		<ul class="nav-item">
			<a class="link" href="/nosBouquets">Nos bouquets</a>
		</ul>
		<ul class="nav-item p-0">
			<a class="link" href="/flower">Créez votre bouquet</a>
		</ul>
		<ul class="nav-item p-0">
			<a class="link" href="/devis">Demander un devis</a>
		</ul>
		<ul class="nav-item-logo btn-lg p-0">
			<a href="/">
				<img src="/assets/img/Strasbouq.png" class="me-2" height="80" alt="Logo" loading="lazy"/>
			</a>
		</ul>
	</ul>
	<ul class="nav-item p-0">
		<a class="link" href="/contact">Nous contacter</a>
	</ul>
	<ul class="nav-item p-0">
		<a class="link" href="/connecter">Mon compte</a>
	</ul>
	<ul id="nav-item-bag p-0">
		<div class="item-shop">
			<a href="/cart">
				<i class="fas fa-shopping-cart icon"></i>
			</a>
		</div>
	</ul>
</div></nav><script type="text/javascript">
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function dropdownNav() {
document.getElementById("myDropdown").classList.toggle("show");
}</script>
