{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/legal.css">
{% endblock %}

{% block content %}

<div class="box">
    <h4> Déclaration d'activité :</h4>
    
    <p>Strasbouq est une entreprise individuelle enregistrée auprès de la Chambre de Commerce et d'Industrie de Strasbourg sous le numéro de SIRET 123456789.</p><h4></h4>

    <h4>Mentions légales :</h4>

    <p>Nom de l'entreprise : Strasbouq</p>
    <p>Adresse : 123 rue du Commerce, 67000 Strasbourg</p>
    <p>Numéro de téléphone : 01 23 45 67 89</p>
    <p>Adresse email : contact@strasbouq.com</p>
    <p>Directeur de la publication : Jean Dupont</p>
    <p>Hébergeur du site : OVH, 2 rue Kellermann, 59100 Roubaix</p>

    <h4>Conditions générales de vente :</h4>

    <p> conditions générales de vente sont accessibles via un lien en bas de chaque page du site et précisent les modalités de vente,<br>
        les conditions de livraison, les modalités de paiement, les conditions de retour ou d'échange des produits, ainsi que les garanties offertes aux clients.</p>

    <h4>Protection des données :</h4>
    <p> s'engage à respecter les dispositions du Règlement Général sur la Protection des Données (RGPD) et à protéger la vie privée de ses utilisateurs.<br>
        Les données collectées sont nécessaires pour le traitement des commandes et sont traitées dans le respect de la législation en vigueur.</p>

    <h4>Propriété intellectuelle :</h4>
    <p> les contenus présents sur le site Strasbouq, tels que les textes, les images, les vidéos, les logos, etc. sont la propriété exclusive de Strasbouq ou de ses partenaires et sont protégés par le droit de la propriété intellectuelle.<br>
        Toute reproduction, représentation ou utilisation, même partielle, est interdite sans autorisation préalable.</p>
</div>
     {% endblock %}